

  <p-carousel [value]="Categories" [numVisible]="3" [circular]="true"  [autoplayInterval]="3000" class="hide-navigator" [showIndicators]="false">
             <ng-template let-product pTemplate="item">
          <div class="border-1 surface-border border-round m-2 text-center">
              <div class="mb-3">
                  <img [src]="product.image" [alt]="product.name" class="w-6 shadow-2" width="100%" height="200px"/>
              </div>
              <div>
                  <h4 class="mb-1">{{ product.name }}</h4>

              </div>
          </div>
      </ng-template>
  </p-carousel>

