@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@300&display=swap');

:root{
  --main-color:#0aad0a;
  --light-color:#f0f3f2;
  --font-family:'Encode Sans Semi Expanded','sans-serif';
  --rating-color:#ffc908;
}
body{
  font-family: var(--font-family);
  padding-top: 70px; /* Adjust for the fixed navbar height */
  overflow-x: hidden;
  margin-top: 30px;
}
.rating-colr{
  color: var(--rating-color);
}
.cursor-pointer{
  cursor: pointer;
}
a,a:hover{
  color: black;
  text-decoration: none;
}


.product {
  transition: box-shadow 0.3s ease;
  border: 1px solid var(--main-color);
  margin-top: 7px;
}
.product:hover{
  // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adjust the shadow properties as needed */
   border: 1px solid var(--main-color);
   opacity: 1;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px;

 }


 .font-sm{
  font-size: 14px;

 }
 .text-main{
  color: var(--main-color);
 }
.bg-main{
  background-color: var(--main-color) !important;
}
.bg-main-light{
  color: var(--light-color);
}
